.myWorks {
    background: #b3caff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.myWorksHeader {
    border: 1px solid green;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    height: 100px;
}

.container {
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.myWorkElement {
    width: 35vw;
    height: 35vw;
    border: 1px solid black;
}

.workDescription {
    background: aliceblue;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.workDescriptionElement {
    display: flex;
    flex-direction: column;
}

.workDescriptionName {

}

.workDescriptionText {
    border: blue 1px solid;
    font-size: 18px;
}

.workImg {
    height: 80%;
    width: 100%;
    background: indianred;
}

@media screen and (max-width: 1255px) {

    .myWorksHeader {
        height: 20vh;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    .myWorkElement {
        width: 50vw;
        height: 50vw;
        padding-bottom: 20vh;
    }

    .myWorks {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .myWorkElement {
        width: 250px;
        height: 250px;
        padding-bottom: 20vh;
    }
}
