.myWorks {
    background: #1f1f20;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1255px) {

    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
    }
}

