.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: #252525;
    position: relative;
}

.hireMeSlogan {
    font-size: 20px;
}

.hireButton {
    width: 200px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    align-self: center;
    background: transparent;
    color: #848f98;
    outline: none;
    margin-top: 50px;
    padding: 10px 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.hireButton:after {
    content: "";
    position: absolute;
    width:50%;
    height: 7px;
    max-width: 190px;
    background-color: #eaa261;
    bottom: 0;
    z-index: -1;
    transition: 200ms;
}

.hireButton:hover:after {
    height: 30px;
    width: 60%;
}

.hireButton:hover {
    color: #ffffff;
    transition: 300ms;
}

@media screen and (max-width: 500px) {
    .hireMeSlogan {
        font-size: 12px;
    }
}