.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #252525;
}

.hireMeSlogan {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .hireMeSlogan {
        font-size: 13px;
    }
}