.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #252525;
}

.hireMeSlogan {
    font-size: 20px;
}

.hireButton {
    width: 200px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    align-self: center;
    background: transparent;
    color: #848f98;
    outline: none;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    .hireMeSlogan {
        font-size: 12px;
    }
}