.myWorkElement {
    width: 35vw;
    height: 35vw;
    background: #252525;
    margin-bottom: 50px;
}

.workImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-image: url(../../../../src/assets/images/Social_network.png);
}

.myWorkButton {
    width: 120px;
    height: 50px;
    margin: 0 10px;
}

.workDescription {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}

.workDescriptionElement {
    display: flex;
    flex-direction: column;
}

.workDescriptionElement:first-child {
    align-items: center;
}

.workDescriptionName {

}

.workDescriptionText {
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 1255px) {

    .myWorkElement {
        width: 50vw;
        height: 50vw;
        padding-bottom: 20vh;
    }
}

@media screen and (max-width: 600px) {
    .myWorkElement {
        width: 250px;
        height: 250px;
        padding-bottom: 20vh;
    }
}
