.headerElement {
}

.myHeader {
    display: flex;
    justify-content: center;
    height: 70px;
    font-size: 24px;
    align-items: center;
    margin-top: 50px;
}

.decorationLineWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.decorationLine {
    height: 1px;
    width: 55px;
    background: #eaa261;
}

@media screen and (max-width: 400px) {
    .myHeader {
        font-size: 22px;
        text-align: center;
    }
}