.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.middleContainer {
    display: flex;
    flex-direction: column;
}


.elements {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {
    .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .middleContainer {
        align-items: center;
    }


    .container {
        justify-content: flex-start;
        height: 100%;
    }
}
