.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /*При увеличении числа элементов возможно понадобится поменять*/
}

.middleContainer {
    display: flex;
    flex-direction: column;
}


.elements {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {
    .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .element {
        margin: 20px 0px;
    }

    .container {
        justify-content: flex-start;
        height: 100%;
    }
}

@media screen and (max-width: 400px) {
    .element {
        width: 200px;
    }
}