.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    z-index: 50;
    background-color: #818181;
}

.container {
    display: flex;
    width: 70%;
    justify-content: center;
}

.menuBtn {
    position: fixed;
    z-index: 100;
}

.menuBtn:hover .hiddenContainer{
    display: flex;
}

.hiddenContainer {
    display: none;
}


@media  screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
    .header {
        background-color: white;
    }
}
