.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60px;
    z-index: 50;
    background-color: #eaa261;
    opacity: 1;
}

.container {
    display: flex;
    width: 70%;
    justify-content: center;
}

.menuBtn:hover{

}


@media  screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}
