.element {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    background: #252525;
    margin-bottom: 20vh;
}

.skillImg {
    height: 11vh;
    width: 11vh;
    background: #49494a;
    margin-bottom: 40px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillImg img {
    transform: rotate(-45deg);
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillContainer span {
    text-align: justify;
}

@media screen and (max-width: 1150px) {
    .element {
        margin: 20px 0px;
    }
}

@media screen and (max-width: 400px) {
    .element {
        width: 200px;
    }
}