.socialRefElement {
    height: 40px;
    width: 40px;
    background: #252525;
    border: 3px solid transparent;
    transition: 200ms;
}

.socialRefElement:hover {
    border: 3px solid white;
    border-radius: 10%
}


.socialRefIcon {
    height: 40px;
}