.aboutMe {
    height: 100px;
    background: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.socialRefBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 50px;
}

.socialRefElement {
    height: 40px;
    width: 40px;
    background: #b3caff;
}

@media screen and (max-width: 1250px) {
    .socialRefBar {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .socialRefBar {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .socialRefBar {
        width: 80%;
    }
}