.nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 18px;
}

@media  screen and (max-width: 1000px) {

    .link {
        font-size: 20px;
    }
}