.aboutMe {
    height: 100vh;
    background: #1f1f20;
    display: flex;
    justify-content: center;
}

.photoWrapper {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    background: #1f1f20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting span:nth-child(1) {
    font-size: 18px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span{
    font-weight: 700;
    font-stretch: normal;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    z-index: 10;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 285px;
    right:0px;
    height: 20px;
    background-color: #eaa261;
    bottom: 0px;
    z-index: -1;
}


.greeting span:nth-child(3) {
    font-weight: 700;
    font-stretch: normal;
    font-size: 48px;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    background-color: #d1ffd3;
}

.photo {
    width: 261px;
    height: 299px;
    background: white;
    position: relative;
    z-index: 1;
    transition: 500ms;
}

.photo:hover {
    transform: scale(1.1,1.1);
}

.image {
    width: 261px;
    height: 299px;
    background: url("assets/Photo/photo.png");
    z-index: 2;
}


.photo .image:before {
    content: "";
    position: absolute;
    height: 319px;
    width: 261px;
    border: 5px solid #eaa261;
    left: 10px;
    top: -15px;
    z-index: -1;
}

@media screen and (max-width: 1070px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10vh;
    }

    .aboutMe {
        height: auto;
    }

    .greeting {
        height: 90vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .photoWrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .greeting span:nth-child(1) {
        font-size: 16px;
    }

    .greeting span:nth-child(2),
    greeting span:nth-child(2) span{
        font-weight: 700;
        font-stretch: normal;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 5px;
    }

    .greeting span:nth-child(3) {
        font-weight: 700;
        font-stretch: normal;
        font-size: 30px;
        line-height: 1.2;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 5px;
    }

    .greeting h1:nth-child(4) {
        font-weight: 700;
        font-stretch: normal;
        font-size: 30px;
        line-height: 1.2;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 5px;
    }
    .photo {
        border: 1px solid;
        height: 400px;
        width: 300px;
        background: white;
    }

    .image {
        height: 400px;
        width: 300px;
        background-color: #d1ffd3;
    }

    .photo .image:before {
        content: "";
        position: absolute;
        height: 440px;
        width: 300px;
        border: 5px solid #eaa261;
        left: 10px;
        top: -25px;
        z-index: -1;
    }

}

@media screen and (max-width: 400px) {
    .photo {
        height: 225px;
        width: 196px;
        background: white;
    }

    .image {
        height: 225px;
        width: 196px;
        background: url("assets/Photo/photo_small.png");
    }

    .photo .image:before {
        content: "";
        position: absolute;
        height: 245px;
        width: 196px;
        border: 5px solid #eaa261;
        left: 10px;
        top: -15px;
        z-index: -1;
    }
}

